*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin: 5em 0 0 0;
  background-color: var(--background-light-blue);
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');

  font-family: 'Greycliff-cf';
  src: url('../fonts/Greycliff_CF/Greycliff\ v1.1w/Webfont/GreycliffCF-Regular.ttf') format('truetype');
}




/**************************************************/
/**************************************************/
/****************** color scheme ******************/
/**************************************************/
/**************************************************/
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #595959;
  --light-blue: #E8EDEF;
  --accent: #2B80BA;

  --background-light-blue: #E8EDEF;
  --background-dark-blue: #181F32;
  --background-white:#ffffff;
  --background-geel:#FFDA7B;

  --main-font: 'Greycliff-cf';
  --second-font: 'Merriweather';
}

/*********************************************/
/***************** dark-mode *****************/
/*********************************************/
@media (prefers-color-scheme : dark) {
  :root {
    --black: #ffffff;
    --white: #000000;
    --grey: #E8EDEF;
    --accent: #FFDA7B;
  
    --background-light-blue: #212121;
    --background-dark-blue: #272727;
    --background-white: #474747;
  }
}




/***************************************************/
/***************************************************/
/********************** fonts **********************/
/***************************************************/
/***************************************************/
h3, h4, p, a, .productpagina h2{
  font-family: var(--main-font);
}

h2, h4, .productpagina h3 {
  letter-spacing: 0.4vw;
}

h2 {
  font-family: var(--second-font);
  font-size: 6vw;
  line-height: 30px;
  text-align: center;
}

.productpagina h3 {
  font-size: 5vw;
  line-height: 28px;
}

h4 {
  font-size: 4.2vw;
  line-height: 28px;
  text-align: center;
}

p, .productpagina p {
  font-size: 4vw;
  line-height: 22px;
}

p {
  text-align: center;
}

.productpagina p {
  text-align: left;
}

a {
  color: var(--black);
  font-size: 2.5vw;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  text-decoration: none;
}




/**************************************************/
/**************************************************/
/****************** afbeeldingen ******************/
/**************************************************/
/**************************************************/
header nav svg {
  margin: 1.5em auto 1.5em 0;
  width: 50%;
}

header path {
  fill: var(--black);
}

article:first-of-type img {
  display: block;
  margin: 1em auto;
  width: 97%;
}

article:nth-of-type(3) img, article:nth-of-type(3) section img, .productpagina article:nth-of-type(2) section img {
  width: 100%;
}

article:nth-of-type(4) img {
  position: relative;
  top: 3em;
}

article:nth-of-type(4) section img {
  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
} 

article:nth-of-type(4) section:first-of-type img {
  width: 85%;
  top: -2em;
}

article:nth-of-type(4) section:nth-of-type(2) img {
  width: 60%;
  top: -3.5em;
}

footer img {
  width: 12px;
  height: 12px;
}

.productpagina body img:first-of-type {
  display: block;
  margin: 1em auto;
  width: 65%;
}

.productpagina article:first-of-type img {
  margin: 2em auto 0 auto;
}

.productpagina article:nth-of-type(3) img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  width: 25%;
  margin-left: auto;
  margin-right: auto;
} 




/***************************************************/
/***************************************************/
/******************** animaties ********************/
/***************************************************/
/***************************************************/
@keyframes logo-animation {
  0% { transform: scale(1); }
  5% { transform: scale(.5); }
  10% { transform: scale(1); }
  15% { transform: scale(.5); }
  20% { transform: scale(1); }
  25% { transform: scale(.5); }
  30% { transform: scale(1); }
  100% { transform: scale(1); }
}

nav:hover svg {
  animation-name: logo-animation;
  animation-duration: 2s;
}

header:hover path {
  fill: var(--accent);
}


@keyframes button-animation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}

article:nth-of-type(3) button {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  /* cursor: pointer; */
}


@keyframes vegan-yoghurt-animation {
  0% { transform:translateY(0.25rem); } /* verplaatst het element verticaal */
  100% { transform:translateY(-1rem); } 
}

article:nth-of-type(4) section img {
  animation-name: vegan-yoghurt-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes coco-start-animation {
  0% { transform:scale(0); }
  100% { transform:scale(1); }
}

.productpagina article:first-of-type img:first-of-type {
  animation-name: coco-start-animation;
  animation-duration: 3s;
}

/**********************************************/
/*************** reduced motion ***************/
/**********************************************/
@media (prefers-reduced-motion: reduce) {
  nav:hover svg, article:nth-of-type(3) button, article:nth-of-type(4) section img, .productpagina article:first-of-type img:first-of-type {
    animation-name: vegan-yoghurt-animation;
    animation: none !important; /* !important will override ALL previous styling rules for that specific property on that element! */
  }
}




/**************************************************/
/**************************************************/
/********************* states *********************/
/**************************************************/
/**************************************************/
/*********************************************/
/******************* links *******************/
/*********************************************/
/************* hover *************/
header nav button:hover, article:first-of-type ul li a:hover, footer ul li a:hover, .productpagina article:first-of-type a:hover {
  text-decoration: underline;
}

/************* focus *************/
article:first-of-type ul li a:focus, header nav button:focus {
  background-color: var(--accent);
  color: var(--white);
}

footer ul li a:focus {
  background-color: #2B80BA;
}

.productpagina article:first-of-type a:focus, header nav button:active {
  background-color: #000000;
  color: #2B80BA;
}

/************* active *************/
article:first-of-type ul li a:active {
  color: var(--white);
  background-color: var(--accent);
}

footer ul li a:active {
  color: var(--accent);
}

.productpagina article:first-of-type a:active {
  color: var(--white);
}

/*********************************************/
/**************** zwarte knop ****************/
/*********************************************/
/************* hover *************/
article:nth-of-type(2) a:hover, article:nth-of-type(3) section a:nth-of-type(2):hover, .productpagina article:nth-of-type(4) section a:hover {
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

article:nth-of-type(3) section a:nth-of-type(2):hover {
  color: var(--black);
  border: 2px solid var(--black);
}

/************* focus *************/
article:nth-of-type(2) a:focus, article:nth-of-type(3) section a:nth-of-type(2):focus, .productpagina article:nth-of-type(4) section a:focus {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #2B80BA;
}

article:nth-of-type(3) section a:nth-of-type(2):focus {
  color: var(--white); 
  background-color: var(--black);
}

/************* active *************/
article:nth-of-type(2) a:active, article:nth-of-type(3) section a:nth-of-type(2):active, .productpagina article:nth-of-type(4) section a:active { 
  background-color: #000000;
  color: #FFDA7B;
  text-decoration: underline;
} 

article:nth-of-type(3) section a:nth-of-type(2):active {
  background-color: var(--black);
  color: var(--white);
}

.productpagina article:nth-of-type(4) section a:active {
  background-color: #000000;
  color: #ffffff;
}

/*********************************************/
/***************** gele knop *****************/
/*********************************************/
/************* hover *************/
article:nth-of-type(3) section a:first-of-type:hover, .productpagina article:nth-of-type(2) section a:first-of-type:hover {
  text-decoration: underline;
}

article:nth-of-type(3) button:hover {
  color: #FFDA7B;
  background-color: transparent;
  border: 2px solid #FFDA7B;
}

/************* focus *************/
article:nth-of-type(3) section a:first-of-type:focus, .productpagina article:nth-of-type(2) section a:first-of-type:focus {
  text-decoration: underline;
  border: 1px solid #000000;
}

article:nth-of-type(3) button:focus {
  color: #000000;
  background-color: #FFDA7B;
  border: 3px solid #2B80BA; 
}

/************* active *************/
article:nth-of-type(3) section a:first-of-type:active, article:nth-of-type(3) button:active, .productpagina article:nth-of-type(2) section a:first-of-type:active {
  color: #FFDA7B;
  background-color: #000000;
} 

article:nth-of-type(3) button:active {
  background-color: var(--black);
  text-decoration: underline;
}




/**************************************************/
/**************************************************/
/********************* header *********************/
/**************************************************/
/**************************************************/
header {
  display: flex;
  flex-wrap: wrap;  
  position: fixed;
  top: 0;
  z-index: 3;

  margin: 0;
  padding: 0 1em;
  background-color: var(--background-white);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  width: 15%;
  margin: auto 0 auto auto;
  padding: 0.5em;
  z-index: 4;

  border: none;
  background-color: transparent;
  color: var(--grey);
  font-family: var(--main-font);
  font-size: 4vw;
}

nav ul {
  background-color: var(--background-light-blue);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 4em 2em 0 2em;

  z-index: 1; 
  transform: translateX(100%); /* verplaatst het element horizontaal */
}

nav.toonMenu ul {
  transform: translateX(0%); /* verplaatst het element horizontaal */
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 2em 0;
  border-bottom: 1px solid var(--grey);
}

nav ul li a {
  font-size: 2.5vw;
}




/***************************************************/
/***************************************************/
/************* article 1 - hoofdpagina *************/
/***************************************************/
/***************************************************/
article:first-of-type {
  margin-top: 7em;
}

article:first-of-type h2 {
  color: var(--black);
}

article:first-of-type ul {
  position: relative;
  margin-top: 2em;
}

article:first-of-type ul li {
  display: flex;
}

article:first-of-type ul li:first-of-type, article:first-of-type ul li:nth-of-type(2) {
  position: absolute;
  bottom: 0;
}

article:first-of-type ul li:first-of-type {
  left: 1.5em;
}

article:first-of-type ul li:nth-of-type(2) {
  right: 1.5em;
}

article:first-of-type ul li a {
  padding: 0.5em;
}




/***************************************************/
/***************************************************/
/************* article 2 - hoofdpagina *************/
/***************************************************/
/***************************************************/
 article:nth-of-type(2) {
  background-color: var(--background-geel);

  position: relative;
  left: 0;
  right: 0;
  top: 2em;
  z-index: 1;

  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

article:nth-of-type(2) p {
  text-align: left;
  margin-bottom: 1em;
}

article:nth-of-type(2) h3 {
  margin: 0;
}

article:nth-of-type(2) a {
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}




/***************************************************/
/***************************************************/
/************* article 3 - hoofdpagina *************/
/***************************************************/
/***************************************************/
 article:nth-of-type(3) {
  background-color: var(--background-dark-blue);
  color: var(--black);

  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden; /* voor javascript */
}

article:nth-of-type(3) > h2 {
  color: #ffffff;
  border-bottom: 2px solid #2B80BA;
  padding-bottom: 0.7em;
  margin: 1em 4em 0 4em;
}

article:nth-of-type(3) > p{
  color: #ffffff;
  margin: 2em;
}

/********************************************/
/************ article 3 sections ************/
/********************************************/
article:nth-of-type(3) section {
  background-color: var(--background-white);

  position: relative; /* element behoudt zijn plek in de flow */
  z-index: 1;
  margin: 2em;

  transition: 2s; /* voor javascript */
}

article:nth-of-type(3) section h3, article:nth-of-type(3) section a, article:nth-of-type(3) section p{
  color: var(--black);
}

article:nth-of-type(3) section h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 1em 1em 0 1em;
}

article:nth-of-type(3) section p {
  text-align: left;
  color: var(--grey);
  padding: 0 1em 1em 1.5em;
}

article:nth-of-type(3) section a:first-of-type {
  position: absolute; /* element verliest zijn plek in de flow */
  left: 1em;
  top: 18em;
  z-index: 0;

  color: #000000;
  background-color: var(--background-geel);
  padding: 0.7em;
}

article:nth-of-type(3) section:nth-of-type(3) ~ section h3 { /* alle h3's in een section worden geselecteerd na de 3e section*/
  color: #ffffff; 
  text-align: center;
}

article:nth-of-type(3) ul li {
  color: #ffffff; 
  font-family: var(--main-font);
  line-height: 25px;
}

article:nth-of-type(3) section:nth-of-type(3) ~ section { /* alle sections worden geselecteerd na de 3e section*/
  background-color: transparent;

  position: absolute; /* element verliest zijn plek in de flow */
  left: 13%;
  right: 13%;
  z-index: 0;

  margin: 0 auto;
  padding: 0 0.5em 0.7em 0;
}

article:nth-of-type(3) section:nth-of-type(4) {
  top: 33em;
}

article:nth-of-type(3) section:nth-of-type(5) {
  bottom: 32.2em;
}

article:nth-of-type(3) section:nth-of-type(6) {
  bottom: 6.5em;
}

article:nth-of-type(3) section a:nth-of-type(2) {
  color: var(--white);
  border: none;
  background-color: var(--black);

  position: relative;
  bottom: 2em;
  left: 30%;
  right: 30%;
  padding: 1em;
}

article:nth-of-type(3) button {
  color: #000000; 
  background-color: #FFDA7B; 
  border-style: none;

  display: block; 
  padding: 1em;
  margin: 1em auto 2em auto;
}

/**********************************************/
/************ article 3 javascript ************/
/**********************************************/
article:nth-of-type(3).verplaats section:nth-of-type(1), article:nth-of-type(3).verplaats section:nth-of-type(3) {
  transform:translateX(100%); /* verplaatst het element horizontaal */
}

article:nth-of-type(3).verplaats section:nth-of-type(2) {
  transform:translateX(-100%);
}




/***************************************************/
/***************************************************/
/************* article 4 - hoofdpagina *************/
/***************************************************/
/***************************************************/
article:nth-of-type(4) {
  background-color: var(--background-white);
  color: var(--black);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;  
}

article:nth-of-type(4) > h2 {
  border-bottom: 2px solid #2B80BA;
  padding-bottom: 0.7em;
  margin: 1em 4em;
}

article:nth-of-type(4) > p {
  margin: 0 1.5em;
}

/********************************************/
/************ article 4 sections ************/
/********************************************/
article:nth-of-type(4) section {
  background-color: var(--background-light-blue);
  padding: 3em 0.5em 0.5em 0.5em;
  margin: 6em 0.25em 1em 0.25em;
  width: 45%;
  position: relative; /* element behoudt zijn plek in de flow */
}

article:nth-of-type(4) section h4 {
  margin: 0;
}

article:nth-of-type(4) section p {
  margin: 0;
  padding: 0 0.5em;
  font-size: 3.5vw;
}




/***************************************************/
/***************************************************/
/************ article 1 - productpagina ************/
/***************************************************/
/***************************************************/
.productpagina article:first-of-type {
  margin: 1.5em;
  margin-top: 7em;
}

.productpagina article:first-of-type p {
  color: var(--black);
}

.productpagina article:first-of-type section {
  margin: 1.5em 0;
}

.productpagina article:first-of-type h3 {
  margin: 0;
}

.productpagina article:first-of-type section p {
  color: var(--black);
  padding: 0 0 0.5em 0;
  margin: 0;
}

.productpagina article:first-of-type a {
  color: var(--accent);
  font-size: 3vw;
}




/***************************************************/
/***************************************************/
/************ article 2 - productpagina ************/
/***************************************************/
/***************************************************/
.productpagina article:nth-of-type(2) {
  background-color: var(--background-dark-blue);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.productpagina article:nth-of-type(2) h3 {
  color: var(--white);
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/********************************************/
/************ article 2 sections ************/
/********************************************/
.productpagina article:nth-of-type(2) section {
  background-color: var(--background-white);
  position: relative; /* element behoudt zijn plek in de flow */
  z-index: 1;
  margin: 2em auto 1em auto;
}

.productpagina article:nth-of-type(2) h2 {
  color: #ffffff; 
  margin-bottom: 1em;
}

.productpagina article:nth-of-type(2) section h3, article:nth-of-type(2) section a, article:nth-of-type(2) section p{
  color: var(--black);
}

.productpagina article:nth-of-type(2) section p {
  text-align: left;
  color: var(--grey);
  padding: 0 1em 1.5em 1.5em;
}

.productpagina article:nth-of-type(2) section h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0.75em 1em 0 0;
}

.productpagina article:nth-of-type(2) section a:first-of-type {
  position: absolute;
  left: 1em;
  top: 19em;
  height: fit-content;

  z-index: 0;

  color: #000000; 
  background-color: var(--background-geel);
  padding: 0.7em;
}




/***************************************************/
/***************************************************/
/************ article 3 - productpagina ************/
/***************************************************/
/***************************************************/
.productpagina article:nth-of-type(3) {
  background-color: var(--background-white);
  padding-top: 3em;
}

.productpagina h3 {
  text-align: center;
  color: var(--black);
}

.productpagina article:nth-of-type(3) section {
  background-color: var(--background-light-blue);
  padding: 3em 0.5em 0.5em 0.5em;
  margin: 6em auto 0 auto;
  width: 45%;
  position: relative;
}

.productpagina article:nth-of-type(3) section h4 {
  margin: 0;
  color: var(--black);
}

.productpagina article:nth-of-type(3) section p {
  margin: 0;
  padding: 0 0.5em;
  font-size: 3.5vw;
  text-align: center;
}




/***************************************************/
/***************************************************/
/************ article 4 - productpagina ************/
/***************************************************/
/***************************************************/
.productpagina article:nth-of-type(4) section{
  background-color: var(--accent);
  z-index: 1;
  width: 95%;
  margin: 2em 0;
  padding: 1.5em;
}

.productpagina article:nth-of-type(4) section h3 {
  color: var(--white);
  text-align: left;
  margin: 0;
  padding-bottom: 0.5em;
}

.productpagina article:nth-of-type(4) section p {
  color: var(--white);
  text-align: left;
  margin-bottom: 2em;
}

.productpagina article:nth-of-type(4) section a {
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}

.productpagina article:nth-of-type(4) video {
  margin: 1em;
}




/****************************************************/
/****************************************************/
/********************** footer **********************/
/****************************************************/
/****************************************************/
footer {
  background-color: var(--background-dark-blue);
  padding: 1em 0;
}

footer ul {
  list-style: none;
  text-transform: uppercase;
  margin: 1.5em 0;
}

footer ul li {
  line-height: 30px;
}

footer ul li a {
  color: #ffffff;
}

footer ul:nth-of-type(2) li a {
  margin-left: 2em;
}