*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  /* font-family: 'Charis-sil';
  src: url('../fonts/CharisSIL-6.001/CharisSIL-Regular.ttf') format('truetype'); */

  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');

  font-family: 'Greycliff-cf';
  src: url('../fonts/Greycliff_CF/Greycliff\ v1.1w/Webfont/GreycliffCF-Regular.ttf') format('truetype');
  
  /* font-family: 'Didact-Gothic';
  src: url('../fonts/Didact_Gothic/DidactGothic-Regular.ttf') format('truetype'); */
}

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #595959;
  --light-blue: #E8EDEF;
  --helder-blue: #2B80BA;

  --background-dark-blue: #181F32;
  --background-white:#ffffff;
  --background-geel:#FFDA7B;
  --background-light-blue: #E8EDEF;

  --main-font: 'Greycliff-cf';
  --second-font: 'Merriweather'; /* charis-sil */
  /* --third-font: 'Didact-Gothic'; futura */
}


body {
  margin: 5em 0 0 0;
  background-color: var(--background-light-blue);
}





/***************************************************/
/***************************************************/
/********************** fonts **********************/
/***************************************************/
/***************************************************/
h3, h4, p, a, figcaption {
  font-family: var(--main-font);
}

h2 {
  font-family: var(--second-font);
}

.productpagina h2 {
  font-family: var(--main-font);
}

h2, .productpagina h2 {
  font-size: 6vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
  line-height: 30px;
  text-align: center;
}

.productpagina h3 {
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
  line-height: 28px;
}

h4 {
  font-size: 4.2vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
  line-height: 28px;
  text-align: center;
}

p, .productpagina p {
  font-size: 4vw;
  font-weight: 400;
  line-height: 22px;
}

p {
  text-align: center;
}

.productpagina p {
  text-align: left;
}

a {
  color: var(--black);
  font-size: 2.5vw;
  font-weight: bolder;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  text-decoration: none;
}

figcaption {
  color: var(--grey);
  font-size: 2.7vw;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}






/**********************************************************/
/**********************************************************/
/********************** afbeeldingen **********************/
/**********************************************************/
/**********************************************************/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
header nav img {
  margin: 1.5em auto 1.5em 0;
  width: 50%;
}

.productpagina header nav img {
  background-color: red;
  margin: 1.5em auto 1.5em 0;
  width: 50%;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

article:first-of-type img {
  display: block;
  margin: 1em auto;
  width: 97%;
}

article:nth-of-type(3) img {
  width: 100%;
}

article:nth-of-type(3) section img {
  width: 100%;
}

article:nth-of-type(4) img {
  position: relative;
  top: 3em;
}

footer img {
  width: 12px;
  height: 12px;
}

.productpagina img:first-of-type {
  display: block;
  margin: 1em auto;
  width: 65%;
}

.productpagina article:first-of-type img {
  margin: 2em auto 0 auto;
}

.productpagina article:nth-of-type(2) section img {
  width: 100%;
}






/********************************************************/
/********************************************************/
/************************ header ************************/
/********************************************************/
/********************************************************/
header {
  display: flex;
  flex-wrap: wrap;  
  position: fixed;
  top: 0;
  z-index: 2;

  /* align-items: center; */
  margin: 0;
  padding: 0 1em;
  background-color: var(--background-white);
}

nav {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

nav button {
  width: 15%;
  margin: auto 0 auto auto;
  padding: 0.5em;

  appearance: none;
  border: none;

  background-color: transparent;
  color: var(--grey);
  font-family: var(--main-font);
  font-size: 4vw;
}

nav button:last-of-type {
  z-index: 4;
}

nav ul {
  background-color: var(--background-light-blue);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 4em 2em 0 2em;

  z-index: 1; 
  transform: translateX(100%);
}

nav.toonMenu ul {
  transform: translateX(0%);
  transition:0.5s;
}

nav ul li {
  list-style:none;
  margin: 2em 0;
  border-bottom: 1px solid var(--grey);
}

nav ul li a {
  font-size: 2.5vw;
}









/*********************************************************************/
/*********************************************************************/
/********************** article 1 - hoofdpagina **********************/
/*********************************************************************/
/*********************************************************************/
article:first-of-type {
  margin-top: 7em;
}

article:first-of-type ul {
  display: flex;
  flex-grow: 1;
  position: relative;
}

article:first-of-type ul li {
  display: flex;
}

article:first-of-type ul li:first-of-type, article:first-of-type ul li:nth-of-type(2) {
  position: absolute;
  bottom: 0;
}

article:first-of-type ul li:first-of-type {
  left: 1.5em;
}

article:first-of-type ul li:nth-of-type(2) {
  right: 1.5em;
}





/*********************************************************************/
/*********************************************************************/
/********************** article 2 - hoofdpagina **********************/
/*********************************************************************/
/*********************************************************************/
 article:nth-of-type(2) {
  background-color: var(--background-geel);

  /* display: flex;
  flex-wrap: wrap; */

  position: relative;
  left: 0;
  right: 0;
  top: 2em;
  z-index: 1;

  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

article:nth-of-type(2) p {
  text-align: left;
  margin-bottom: 3em;
}

article:nth-of-type(2) h3 {
  margin: 0;
}

article:nth-of-type(2) a {
  background-color: var(--black);
  color: var(--white);
  padding: 1em;

  position: absolute;
  bottom: 2em;
  left: 2em;
}



/*********************************************************************/
/*********************************************************************/
/********************** article 3 - hoofdpagina **********************/
/*********************************************************************/
/*********************************************************************/
 article:nth-of-type(3) {
  background-color: var(--background-dark-blue);
  color: var(--white);

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  position: relative;
  
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* padding: 1.5em; */

  overflow: hidden;  /* voor javascript */
}

article:nth-of-type(3) > h2 {
  border-bottom: 2px solid var(--background-geel);
  padding-bottom: 0.7em;
  margin: 1em 4em 0 4em;
}

article:nth-of-type(3) > p{
  margin: 2em;
}

/********************************************/
/************ article 3 sections ************/
/********************************************/
article:nth-of-type(3) section {
  background-color: var(--background-white);

  position: relative;
  z-index: 1;
  margin: 2em;

  transition: 2s; /* voor javascript */
}

article:nth-of-type(3) section h3, article:nth-of-type(3) section a, article:nth-of-type(3) section p{
  color: var(--black);
}

article:nth-of-type(3) section p {
  text-align: left;
  color: var(--grey);
  padding: 0 1em 1em 1.5em;
}

article:nth-of-type(3) section h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 1em 1em 0 1em;
}


article:nth-of-type(3) section a:first-of-type {
  position: absolute;
  left: 1em;
  top: 18em;
  z-index: 0;

  background-color: var(--background-geel);
  padding: 0.7em;
}

article:nth-of-type(3) section:nth-of-type(3) ~ section h3 {
  color: var(--white);
  text-align: center;
}

article:nth-of-type(3) ul li {
  color: var(--white);
  font-family: var(--main-font);
  line-height: 25px;
  /* font-size: 4vw; */
}

article:nth-of-type(3) section:nth-of-type(3) ~ section {
  background-color: transparent;

  position: absolute;
  left: 13%;
  right: 13%;
  z-index: 0;

  margin: 0 auto;
  padding: 0 0.5em 0.7em 0;
}

article:nth-of-type(3) section:nth-of-type(4) {
  top: 33em;
}

article:nth-of-type(3) section:nth-of-type(5) {
  bottom: 32.2em;
}

article:nth-of-type(3) section:nth-of-type(6) {
  bottom: 6.5em;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* article:nth-of-type(3) section:nth-of-type(3) ~ img {
  display: block;
  width: 60%;
  margin: 1em auto;
  border: 1px solid red;
} */
/* ///////////////////////////////////////////////////////////////////////// */


article:nth-of-type(3) section a:nth-of-type(2) {
  color: var(--white);
  border: none;
  background-color: var(--black);

  position: relative;
  bottom: 2em;
  left: 30%;
  right: 30%;

  /* display: block;  */
  padding: 1em;
  /* margin: 0 auto;
  margin-bottom: 1em; */
}

article:nth-of-type(3) button {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;

  display: block; 
  padding: 1em;
  margin: 1em auto 2em auto;
}

/************************************/
/************ javascript ************/
/************************************/
article:nth-of-type(3).anders section:nth-of-type(1), article:nth-of-type(3).anders section:nth-of-type(3) {
  transform:translateX(100%); /* met transform kun je een element o.a. verplaatsen */
}

article:nth-of-type(3).anders section:nth-of-type(2) {
  transform:translateX(-100%);
}


/*******************************************************/
/*******************************************************/
/********************** article 4 **********************/
/*******************************************************/
/*******************************************************/
article:nth-of-type(4) {
  background-color: var(--background-white);
  color: var(--black);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;  
}

article:nth-of-type(4) > h2 {
  border-bottom: 2px solid var(--background-geel);
  padding-bottom: 0.7em;
  margin: 1em 4em;
}

article:nth-of-type(4) > p {
  margin: 0 1.5em;
}


/********************************************/
/************ article 4 sections ************/
/********************************************/
article:nth-of-type(4) section {
  background-color: var(--background-light-blue);
  padding: 3em 0.5em 0.5em 0.5em;
  margin: 6em 0.25em 1em 0.25em;
  width: 45%;
  position: relative;
}

article:nth-of-type(4) section h4 {
  margin: 0;
}

article:nth-of-type(4) section p {
  margin: 0;
  padding: 0 0.5em;
  font-size: 3.5vw;
}

article:nth-of-type(4) section img {
  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
} 

article:nth-of-type(4) section:first-of-type img {
  width: 85%;
  top: -2em;
}

article:nth-of-type(4) section:nth-of-type(2) img {
  width: 60%;
  top: -3.5em;
}





/*********************************************************************/
/*********************************************************************/
/********************* article 1 - productpagina *********************/
/*********************************************************************/
/*********************************************************************/
.productpagina article:first-of-type {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-top: 7em;
  margin: 1.5em;

  background-color: red;
}

.productpagina article:first-of-type section {
  margin: 1.5em 0;
}

.productpagina article:first-of-type h3 {
  margin: 0;
}

.productpagina article:first-of-type section p {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.productpagina article:first-of-type a {
  color: var(--helder-blue);
  font-size: 3vw;
}




/*********************************************************************/
/*********************************************************************/
/********************* article 2 - productpagina *********************/
/*********************************************************************/
/*********************************************************************/
.productpagina article:nth-of-type(2) {
  background-color: var(--background-dark-blue);
  color: var(--white);
  
  position: relative;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/********************************************/
/************ article 2 sections ************/
/********************************************/
.productpagina article:nth-of-type(2) section {
  background-color: var(--background-white);
  position: relative;
  z-index: 1;
}

.productpagina article:nth-of-type(2) section h3, article:nth-of-type(2) section a, article:nth-of-type(2) section p{
  color: var(--black);
}

.productpagina article:nth-of-type(2) section p {
  text-align: left;
  color: var(--grey);
  padding: 0 1em 1.5em 1.5em;
}

.productpagina article:nth-of-type(2) section h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0 1em;
}

.productpagina article:nth-of-type(2) section a:first-of-type {
  position: absolute;
  left: 1em;
  top: 19em;
  height: fit-content;

  z-index: 0;

  background-color: var(--background-geel);
  padding: 0.7em;
}





/******************************************************/
/******************************************************/
/*********************** footer ***********************/
/******************************************************/
/******************************************************/
footer {
  background-color: var(--background-dark-blue);
  padding: 1em 0;
}

footer ul {
  list-style: none;
  text-transform: uppercase;
  margin: 1.5em 0;
}

footer ul li {
  line-height: 30px;
}

footer ul li a {
  color: var(--white);
}

footer ul:nth-of-type(2) li a {
  margin-left: 2em;
}