/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Charis-sil';
  src: url('../fonts/CharisSIL-6.001/CharisSIL-Regular.ttf') format('truetype');

  font-family: 'Greycliff-cf';
  src: url('../fonts/Greycliff_CF/Greycliff\ v1.1w/Webfont/GreycliffCF-Regular.ttf') format('truetype');
}

:root {
  --dark: #000000;
  --light: #ffffff;

  --background-dark: #181F32;
  --background-light:#ffffff;
  --background-geel:#FFDA7B;
}

h1 {
  font-family: 'Charis-sil'; /*Helvetica, sans-serif;  springt anders naar helvetica*/

  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

h3 {
  font-family: 'Greycliff-cf'; /*Helvetica, sans-serif;  springt anders naar helvetica*/
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

p {
  font-family: 'Greycliff-cf'; /*Helvetica, sans-serif;  springt anders naar helvetica*/
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}


/*********** articles ***********/
article:first-of-type {
  /* background-color: red; */
}

article:nth-of-type(2) {
  background-color: var(--background-geel);

  padding: 1em;
  width: 90%;
  display: block;
  margin: 2em auto;
  text-align: left;
}

article:nth-of-type(3) {
  background-color: var(--background-dark);
  color: var(--light);
  
  padding: 1em;
}


/*********** afbeeldingen ***********/
img:first-child {
  display: block;
  margin: 1.5em auto 3em 1em;
  width: 55%;
}

img:nth-child(2) {
  display: block;
  margin: 1.5em auto auto 1em;
  width: 90%;
}


/*********** links ***********/
link p{
  font-family: 'Greycliff-cf'; /*Helvetica, sans-serif;  springt anders naar helvetica*/
  color: var(--dark);

  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}